<script src="{{ site.baseurl }}/js/lunr.js"></script>
<script src="{{ site.baseurl }}/js/mustache.min.js"></script>
<script src="{{ site.baseurl }}/js/awesomplete.min.js"></script>
<script src="{{ site.baseurl }}/js/fdroid-search-autocomplete.js"></script>
<link href="{{ site.baseurl }}/js/awesomplete.css" rel="stylesheet" type="text/css" />

<script id="search-result-template-{{ search_id }}" type="x-tmpl-mustache">
	{{ result_item_template }}
</script>

<div
    class="search-input-wrapper"
    data-search-id="{{ search_id }}"
    data-baseurl="{{ site.baseurl }}"
    data-fdroid-repo="{{ site.fdroid-repo }}"
    data-repo-timestamp="{{ repo_timestamp }}"></div>

<script src="{{ site.baseurl }}/js/fdroid-search-autocomplete-init.js"></script>
