<script src="{{ site.baseurl }}/js/lunr.js"></script>
<script src="{{ site.baseurl }}/js/mustache.min.js"></script>
<script src="{{ site.baseurl }}/js/awesomplete.min.js"></script>
<script src="{{ site.baseurl }}/js/fdroid-search-autocomplete.js"></script>
<script src="{{ site.baseurl }}/js/register-listener.js"></script>
<link href="{{ site.baseurl }}/js/awesomplete.css" rel="stylesheet" type="text/css" />

<script id="search-result-template-{{ search_id }}" type="x-tmpl-mustache">
	{{ result_item_template }}
</script>

<div id="search-input-{{ search_id }}" class="search-widget"></div>
